<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>本日の運勢</title>
</head>
<body>
<marquee behavior="alternate" direction="left" scrollamount="50">
    <t1>運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢</t1>
</marquee>
<marquee behavior="scroll" direction="right" scrollamount="1500"><font size="7"><p><b>{{ result }}{{ result
    }}{{result}}{{result }}</b></p></font></marquee>
<marquee behavior="alternate" direction="left" scrollamount="50">
    <t1>運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢運勢</t1>
</marquee>
</body>
</html>

